
html,body{
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:'Dosis', sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
	font-weight:200;
	color:black;
	background-color:white;
}
h1{
font-size: 100px;
font-family:'Dosis', sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:black;
}
h2,h3,p{
			font-family:'Dosis', sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:200;color:black;
		}
		.container{
			padding:10px;
			max-resolution: 10px;
		}