//Colors
$menu-color: #FFFFFF;
$link-hover: #F9DDFF;
$info-color: #74a48e;
$contact-info:#1c6077;
$small-color: #544e66;
$small-color-hover:  #000000;


//Fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
$customFont: 'Oxygen Mono', sans-serif;



h1,h2,h3,a,p{
	font-family: $customFont;
}
h1{
	font-size:0.9em;
}
p{
	font-size:0.8em;
}

