@import "neat-helpers";
@import "nav";
@import "content";
@import "logo_ani";

* { box-sizing: border-box; }
html, body, {
	-webkit-font-smoothing: antialiased;
	@include linear-gradient(#232526, #1b1b1b);
	@include margin(0 0 0 0);
	@include padding(0 0 0 0);
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align:center;

	@include respondTo(phones){
		z-index:-1;
		@include linear-gradient(#544e66, #1b1b1b);
	}

	// @include respondTo(tablet){
	// 	@include linear-gradient(#544e66, #1b1b1b);
		
	// }
}
canvas{z-index:0;}

progress{
	width: 50%;
	height: 0.5em;
	border-radius: 9px;
	@include position(absolute, 50% 10% null 25%);
	background-color:#62C85B;
	opacity:0.6;
	z-index:3000;
}

#progressbar{
	background:#62C85B;
}


//butoon close
#close{
  border-radius: 1px;
  visibility: hidden;
  background:transparent;
    @include position(absolute, 3em 90px null null);
  float:right;
  color:#61F5A1;
  font-size:1em;
  font-family: 'Orbitron', sans-serif;
  @include respondTo(phones){
		 @include position(absolute, 4.6em 10px null null);
	}
}

/* ---- .grid-item ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
