@import "neat-helpers";
// @import "nav";
@import "whoami";
@import "works";
// @import "content";
@import "logo_ani";

* { box-sizing: border-box; }
html, body, {
	//@include linear-gradient(#000000, #fc0008);
	-webkit-font-smoothing: antialiased;
	background-color:#ffffff;
	@include margin(0 0 0 0);
	@include padding(0 0 0 0);
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align:center;

	@include respondTo(phones){
		z-index:-1;
		//@include linear-gradient( #29323c, #517363);
		overflow-y:scroll; 
	}
}
 .text{background-color:black;color:white;font-size:1.5em; z-index:9999;}
 .dud{color:white;}
