//rensive stafff
$mobile: 767px;
$tablet: 992px;
$desktop: 1200px;
$fullscreen: 1200px;

@mixin respondTo($media){
	@if $media == phones{
		@media(max-width: $mobile){@content;}
	}
	@else if $media == pantallas{
		@media(max-width: $desktop){@content;}
	}
}