@import "base";
@import "screen";
//esto va pasar a ser nuevo sitio solo textos

.Titles{
	
	@include position(absolute, 80% null null 45%);
	@include span-columns(5);
	font-family: 'Orbitron', sans-serif;
	font-size:19px;
	text-align:center;
	
		@include respondTo(phones){
			@include outer-container;
			@include position(relative, 5% 0 0 0);
			@include margin(null null null null);
			text-align:center;
			font-size:1em;
			@include span-columns(12);
	}
}




