///here goes works
.work{
  font-family: $customFont;
	@include outer-container;	
	@include span-columns(7);
  	padding:1px;
  	background-color:black;
	@include position(absolute, 10% 0% 0px null);
	overflow-y:scroll; 
	
	.gallery  a img{
		width: 35%;
	}
	a:hover img{
		-webkit-transform: scale(1.05);
  		-moz-transform: scale(1.05);
  		-o-transform: scale(1.05);
  		-ms-transform: scale(1.05);
  		transform: scale(1.05);
  		z-index: 5;
	}
}
