///here goes works
.work{
	//stripped
  // border-style: inset;
  // padding: 2.25em 1.6875em;
  // background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 2px, rgba(0,0,0,.1) 4px);
  // background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 2px, rgba(0,0,0,.1) 4px);
  // background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 2px, rgba(0,0,0,.1) 4px);
  // background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 2px, rgba(0,0,0,.1) 4px);
  // -webkit-background-size: 4px 4px;
  // -moz-background-size: 4px 4px;
  // background-size: 4px 4px;
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 30px 20px;
  -moz-background-size: 30px 20px;
  background-size: 30px 20px;



	h1{
		font-size: 2em;
	}
  font-family: $customFont;
	@include outer-container;	
	@include span-columns(7);
  	padding:1px;
  	//background-color:black;
	@include position(absolute, 10% 0% 0px null);
	overflow-y:scroll; 
	
	.gallery  a img{
		width: 32%;
	}
	a:hover img{
		-webkit-transform: scale(1.05);
  		-moz-transform: scale(1.05);
  		-o-transform: scale(1.05);
  		-ms-transform: scale(1.05);
  		transform: scale(1.05);
  		z-index: 5;
	}
	@include respondTo(phones){
		@include span-columns(12);
		@include position(relative, 4% 0% 0px null);
		.gallery  a img{
		width: 100%;
		}
	}		
}
