@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h2, h3, a, p {
  font-family: "Oxygen Mono", sans-serif; }

h1 {
  font-size: 0.9em; }

p {
  font-size: 0.8em; }

nav {
  opacity: 0;
  position: absolute;
  top: 70%;
  right: 0;
  left: 0;
  font-family: "Oxygen Mono", sans-serif;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  nav:last-child {
    margin-right: 0; }
  nav::after {
    clear: both;
    content: "";
    display: table; }
  nav ul {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    list-style: none; }
    nav ul::after {
      clear: both;
      content: "";
      display: table; }
    nav ul li {
      border: 0.1em;
      border-bottom-style: solid;
      border-color: #FFFFFF;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      transform: skewX(-10deg); }
      @media (max-width: 767px) {
        nav ul li {
          display: inline;
          padding: 0.8em;
          margin: 0;
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          -webkit-transform: translateX(-30px);
          -moz-transform: translateX(-30px);
          -ms-transform: translateX(-30px);
          -o-transform: translateX(-30px);
          transform: translateX(-30px); }
          nav ul li:last-child {
            margin-right: 0; } }
      nav ul li a {
        font-size: 1em;
        font-family: "Oxygen Mono", sans-serif;
        margin: 5px;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-perspective-origin: 30% 30%;
        -moz-perspective-origin: 30% 30%;
        perspective-origin: 30% 30%; }
        @media (max-width: 767px) {
          nav ul li a {
            color: #544e66; } }
      nav ul li a:hover {
        color: #F9DDFF; }
    nav ul li:hover {
      border-style: solid;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
      -o-transform: translateX(-30px);
      transform: translateX(-30px); }
  @media (max-width: 767px) {
    nav {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      font-size: 0.8em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      background-color: #FF0400;
      z-index: 3; }
      nav:last-child {
        margin-right: 0; } }

section {
  background: white;
  overflow-y: scroll; }

header {
  background: black;
  color: white; }

.work {
  font-family: "Oxygen Mono", sans-serif;
  display: none;
  width: 90%;
  height: 80%;
  z-index: 999;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10%;
  right: 5%; }
  .work::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 767px) {
    .work {
      display: inline;
      position: relative;
      top: 0.5em;
      left: 0;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 100%; }
      .work:last-child {
        margin-right: 0; } }
  .work iframe {
    width: 100%; }
  .work img {
    width: 100%; }

article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-family: "Oxygen Mono", sans-serif; }
  article:last-child {
    margin-right: 0; }
  article a {
    color: #F7FF00; }
  article a:hover {
    color: #F9DDFF; }

b {
  background-color: #62C85B; }

.me {
  text-aligment: center;
  width: 70%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Oxygen Mono", sans-serif;
  position: absolute;
  top: 10%;
  right: 15%;
  background: #74a48e;
  opacity: 0.7;
  font-size: 1.5em; }
  .me::after {
    clear: both;
    content: "";
    display: table; }
  .me p {
    padding: 0.5em 15px 15px;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .me p::after {
      clear: both;
      content: "";
      display: table; }
  @media (max-width: 767px) {
    .me {
      font-size: 1em;
      background: white;
      position: relative;
      top: 30px;
      left: 0;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 70%; }
      .me:last-child {
        margin-right: 0; } }

.contact {
  font-family: "Oxygen Mono", sans-serif;
  width: 55%;
  height: 34%;
  opacity: 0.7;
  background: black;
  color: #1c6077;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  font-size: 1.3em; }
  .contact::after {
    clear: both;
    content: "";
    display: table; }
  .contact h2 {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .contact h2::after {
      clear: both;
      content: "";
      display: table; }
  @media (max-width: 767px) {
    .contact {
      font-size: 1em;
      position: relative;
      top: 30px;
      left: 0;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 70%; }
      .contact:last-child {
        margin-right: 0; } }

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
    background: #8F7E92;
    height: 0;
    width: 0;
    border-bottom: 6px solid gray;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; }
  60% {
    transform: scale(1.2);
    opacity: 1;
    background: #74a48e;
    height: 0;
    width: 0;
    border-bottom: 6px solid gray;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  100% {
    transform: scale(1); } }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #1b1b1b; }

::-webkit-scrollbar-track {
  background: slategray; }

.logo {
  float: left;
  position: absolute;
  top: 0.7em;
  left: 0.5em;
  color: #62C85B;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #61F5A1;
  position: absolute; }

@keyframes glitch-anim-1 {
  0% {
    clip: rect(73px, 1084px, 79px, 0); }
  5.88235% {
    clip: rect(57px, 1084px, 85px, 0); }
  11.76471% {
    clip: rect(85px, 1084px, 38px, 0); }
  17.64706% {
    clip: rect(15px, 1084px, 27px, 0); }
  23.52941% {
    clip: rect(83px, 1084px, 88px, 0); }
  29.41176% {
    clip: rect(95px, 1084px, 83px, 0); }
  35.29412% {
    clip: rect(15px, 1084px, 20px, 0); }
  41.17647% {
    clip: rect(93px, 1084px, 107px, 0); }
  47.05882% {
    clip: rect(42px, 1084px, 80px, 0); }
  52.94118% {
    clip: rect(23px, 1084px, 73px, 0); }
  58.82353% {
    clip: rect(113px, 1084px, 106px, 0); }
  64.70588% {
    clip: rect(59px, 1084px, 41px, 0); }
  70.58824% {
    clip: rect(36px, 1084px, 26px, 0); }
  76.47059% {
    clip: rect(34px, 1084px, 7px, 0); }
  82.35294% {
    clip: rect(45px, 1084px, 101px, 0); }
  88.23529% {
    clip: rect(5px, 1084px, 82px, 0); }
  94.11765% {
    clip: rect(64px, 1084px, 69px, 0); }
  100% {
    clip: rect(53px, 1084px, 69px, 0); } }

@keyframes glitch-anim-2 {
  0% {
    clip: rect(111px, 1084px, 101px, 0); }
  5.88235% {
    clip: rect(113px, 1084px, 86px, 0); }
  11.76471% {
    clip: rect(46px, 1084px, 49px, 0); }
  17.64706% {
    clip: rect(6px, 1084px, 57px, 0); }
  23.52941% {
    clip: rect(55px, 1084px, 17px, 0); }
  29.41176% {
    clip: rect(30px, 1084px, 13px, 0); }
  35.29412% {
    clip: rect(67px, 1084px, 65px, 0); }
  41.17647% {
    clip: rect(111px, 1084px, 92px, 0); }
  47.05882% {
    clip: rect(96px, 1084px, 53px, 0); }
  52.94118% {
    clip: rect(58px, 1084px, 100px, 0); }
  58.82353% {
    clip: rect(71px, 1084px, 70px, 0); }
  64.70588% {
    clip: rect(113px, 1084px, 45px, 0); }
  70.58824% {
    clip: rect(74px, 1084px, 58px, 0); }
  76.47059% {
    clip: rect(29px, 1084px, 114px, 0); }
  82.35294% {
    clip: rect(50px, 1084px, 104px, 0); }
  88.23529% {
    clip: rect(86px, 1084px, 101px, 0); }
  94.11765% {
    clip: rect(47px, 1084px, 55px, 0); }
  100% {
    clip: rect(32px, 1084px, 44px, 0); } }
  .logo:before, .logo:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0); }
  .logo:after {
    left: 2px;
    text-shadow: -3px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .logo:before {
    left: -3px;
    text-shadow: 2px 0 blue;
    animation: glitch-anim-2 2.5s infinite linear alternate-reverse; }
  @media (max-width: 767px) {
    .logo {
      font-size: 0.9em;
      position: absolute;
      top: 0;
      background-color: #232526;
      background-image: -webkit-linear-gradient(#232526, #1b1b1b);
      background-image: linear-gradient(#232526, #1b1b1b); } }

* {
  box-sizing: border-box; }

html, body {
  -webkit-font-smoothing: antialiased;
  background-color: #485563;
  background-image: -webkit-linear-gradient(#485563, #29323c);
  background-image: linear-gradient(#485563, #29323c);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center; }
  @media (max-width: 767px) {
    html, body {
      z-index: -1;
      background-color: #F8FFF7;
      background-image: -webkit-linear-gradient(#F8FFF7, #29323c);
      background-image: linear-gradient(#F8FFF7, #29323c); } }

canvas {
  z-index: 0; }

progress {
  width: 50%;
  height: 0.5em;
  border-radius: 9px;
  position: absolute;
  top: 50%;
  right: 10%;
  left: 25%;
  background-color: #62C85B;
  opacity: 0.6;
  z-index: 3000; }

#progressbar {
  background: #62C85B; }

#close {
  border-radius: 1px;
  visibility: hidden;
  background: transparent;
  position: absolute;
  top: 3em;
  right: 90px;
  float: right;
  color: #61F5A1;
  font-size: 1em;
  font-family: 'Orbitron', sans-serif;
  animation: blink-animation 0.1s linear infinite;
  -webkit-animation: blink-animation 0.1s linear infinite; }
  @media (max-width: 767px) {
    #close {
      position: absolute;
      top: 4.6em;
      right: 10px; } }

/* ---- .grid-item ---- */
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer,
.grid-item {
  width: 50%; }

.grid-item {
  float: left; }

.grid-item img {
  display: block;
  width: 100%; }
