@import'_ui';


//variables to complete
$tnormalcolor:black;
//base  for all the site 


canvas{
	display: block;
	z-index:0;
}

#container{
	position: absolute;
	z-index: 1000;

}
main{
	width: 66vh;
	height: 30vh;
	padding: 2px;
	margin: 3px;
	text-align: left;
	color:$mainColor;
	border-color:$borderColor;
	border-style:outset;
	border-width: 0.1em;
	border-left-style: none;
	border-right-style: none;
	font-size:$mainSize;
	word-wrap:break-all;
	overflow-wrap: break-word;
	overflow-y:scroll ;
	h1{
		text-align: center;
		font-size:1.3rem;
	}
	p{
		color:$mainColor;
	}
}

#portafolio{
	width: 66vh;
	height: 30vh;
	padding: 2px;
	margin: 3px;
	color:$mainColor;
	border-color:$borderColor;
	border-style:outset;
	border-width: 0.1em;
	border-left-style: none;
	border-right-style: none;
	font-size:$mainSize;
	overflow-y:scroll ;
	
	section{
		// width: 66vh;
		// height: 26vh;
		// overflow-y:scroll;
		// font-size: 2em;
		// text-align: center;
	}
	ul{
		list-style-type: none;
	}
	li{
		padding: 10px;
	}
	a{
		transition: all .2s ease-in-out;
	}
	a:hover{
		font-size: 2.3em;
		transform: scale(1.1);
	}
}

#ui{
	z-index: 1000;
	bottom: 5vh;
	position: absolute;
}

//footer and quote

#contact {
	z-index: 1000;
	position: absolute;
	text-align: center;
	bottom: 2vh;
	width:auto;
	ul{
		padding: 30px;
	}
}

small{
   background-color: black;
   color:white;
   padding: 3px;
}




//responsive------------------------------------------------------------
@media screen and(max-width:600px){
	main{
		width: auto;
		height: auto;
		text-align: center;
		font-size: 1.0rem;
		overflow-y: scroll;
	}
	
	#ui{	
		top: 2vh;
		width: auto;
		height: 100px;
	}

	#portafolio{
		display: flex;
		flex-direction: column;


		section{
			margin: 3px;
			width: 300px;
			height: 300px;
		}
	}
	
	//footer and quote
	
	#contact {
		z-index: 1000;
		position: absolute;
		text-align: center;
		text-justify:inter-word;
		width: auto;
		bottom: 1vh;
	}
	small{
		display: none;
	}

}
