//Basic body pluss call ui 
@import'_ui';

//fonts and main colors
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

$custom-font:'Inconsolata', monospace;

//variables to complete
$bg:white;
$tnormalcolor:black;




//base  for all the site 

html, body{
  	margin: 0px;
  	padding: 0px;
  	overflow: hidden;
	color:$tnormalcolor;
	width: 100%;
	height: 100%;
	font-family: $custom-font;
	background: #11e8bb; /* Old browsers */
  	background: -moz-linear-gradient(top,  #f5f7fa 0%, #c3cfe2 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top,  #f5f7fa  0%,#c3cfe2 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom,  #f5f7fa  0%,#c3cfe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fa', endColorstr='#c3cfe2',GradientType=0 ); /* IE6-9 */

}


canvas{
	display: block;
	z-index:0;
}


.wrapper{
	// position: absolute;
	font-family: $custom-font;
	  display: flex;
  align-items: center;
  justify-content: center;
	// z-index: 5;

	}
.wrapper div{
	width: 500px;
	height: 200px;
}



.contents{
	position: absolute;
	top: 30%;
	background-color: white;
	text-align: center;
	opacity: 0.7555;
	color: black;
	border-color:#303030;
	@include border-width(0.15em 0.1em 0.5em 0.1em);
	border-style:outset;
	transform-style: preserve-3d;
	perspective: 270px;
	perspective-origin: top;
	z-index: 5;
}
@media screen and (max-width: 600px) {


.wrapper div{
	width: auto;
	height: auto;
	nav{
		padding: 0;
		width: auto;
	}
}
  .contents {
  	top: 25%;
  	background: white;
  	color: rgb(26, 0, 0);
    flex-direction: column;
	border-style:outset;
		@include border-width(0.1em 0.1em 0.1em 0.1em);
	border-color:rgb(7, 7, 7);
	text-align:center;
	padding:5px;
  }

  a{
	border-color:white;
	padding: 7px;
	margin: 4px;
	text-decoration: none;
	color:black;

}
a:hover{
	background: #505050;
	color:white;
}

#contact{
	text-align: center;
	text-justify:inter-word;
	padding:5px;
	margin-left: -40px;
}

}