
// //responsive------------------------------------------------------------
@media (min-width: 480px) and (max-width: 768px) {
	h1{
		font-size: 1.5rem;
	}
	main{
        margin-top: 30vh;
		p{font-size: 18px;
            }
	}
	.sites {
		font-size: 0.8rem;
		position: relative;
		top: 150px;
		width: 350px;
		padding: 2px;
		padding-top: 20px;
		grid-column: 1/4;
		grid-row: 1;
		align-self: flex-end;
		
	}
	#portafolio {
		position: relative;
		width: 99.999%;
		height: 80vh;
		top: 12vh;
		padding-left: 0%;
		overflow-x: scroll;
		display: grid;
		column-gap: 1rem;
		row-gap: 1rem;
		grid-template-columns: 2fr 2fr;
		overflow-x: hidden;
		transition: width 1s;
		animation: pulse 2s;
		img{
			width: 150px;
		}
	}
	section {
		width: 100%;
		font-size: 0.8rem;
		h3 {
			opacity: 0.7;
		}
	}
  }
  @media all and (max-width: 320px) {
	h1{
		font-size: 1.8rem;
	}
	main{
            margin-top: 12vh;
		p{font-size: 14px;}
	}
	.sites {
		font-size: 0.8rem;
		position: fixed;
		top: 150px;
		width: 350px;
		padding: 2px;
		padding-top: 20px;
		grid-column: 1/4;
		grid-row: 1;
		align-self: flex-end;
		
	}
	#portafolio {
		position: relative;
		width: 99.999%;
		height: 80vh;
		top: 12vh;
		padding-left: 0%;
		overflow-x: scroll;
		display: grid;
		column-gap: 1rem;
		row-gap: 1rem;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(200px, auto);
		overflow-x: hidden;
		transition: width 1s;
		animation: pulse 2s;
		img{
			width: 150px;
		}
	}
	section {
		width: 100%;
		font-size: 0.8rem;
		h3 {
			opacity: 0.7;
		}
	}
   }