$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

@mixin respondTo($media){
	@if $media == phones{
		@media(max-width: $mobile){@content;}
	}
	@else if $media == tablet{
		@media(max-width: $tablet){@content;}
	}
}