@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$custom-font: 'Roboto', sans-serif;

$mainColor: #303030;
$secondColor: white;
$mainSize: 1rem;
$borderColor: #303030;

@import "_layout";

html,
body {
	margin: 0;
	padding: 0;
	font-family: $custom-font;
	color: white;
	overflow: hidden;
	transition: width 3s;
	animation: pulse 6s;
}
canvas {
	display: block;
	z-index: 0;
}

#container {
	z-index: 1;
	position: absolute;
}



@keyframes pulse {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pulseD {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.7;
	}
}
