@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
$custom-font:'Inconsolata', monospace;

$mainColor:#303030;
$secondColor:white;
$mainSize:1.0rem;
$borderColor: #303030;

@import'_layout';

html, body {
	font-family: $custom-font;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: width 3s;
	background-image: linear-gradient(to right top, #f5f7fa, #e8edf4, #dce3ee, #cfd9e8, #c3cfe2);
	animation: pulse 6s ;
	  
}

@keyframes pulse {
	0% {
	 opacity: 0;
	}
	100% {
	 opacity: 1;
	}
  }